name: Auto Tag

on:
  push:
    branches:
      - main

jobs:
  autotag:
    #if: github.ref == 'master' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Unshallow
        run: git fetch --prune --unshallow --tags
      - name: Get Next Version TAG
        id: get-next-version-tag
        run: |
          MajorVersion=`git describe --tags $(git rev-list --tags --max-count=1) | awk '{split($0, version, "."); print version[1]}'`
          MinorVersion=`git describe --tags $(git rev-list --tags --max-count=1) | awk '{split($0, version, "."); print version[2]}'`
          PatchVersion=`git describe --tags $(git rev-list --tags --max-count=1) | awk '{split($0, version, "."); print version[3]}'`
          CurrentVersion=`git describe --tags $(git rev-list --tags --max-count=1)`
          echo "::set-output name=tag::v${MajorVersion:1}.$MinorVersion.$(($PatchVersion + 1))"
      - name: Get Merge History
        id: get-merge-history
        run: |
          History=`git log --first-parent --merges --reverse --pretty='%s %b' origin/develop..origin/master`
          echo "::set-output name=history::${History}"
      - name: Tag snapshot
        run: |
          git tag ${{ steps.get-next-version-tag.outputs.tag }} -F- << EOM ${{ steps.get-merge-history.outputs.history }} EOM

